
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Mozaic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <link href="../assets/css/Museo.css" rel="stylesheet">
    <link href="../assets/css/main.css" rel="stylesheet">
    <link href="../assets/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="../favicon.ico">

	<script type="text/javascript">
	var rows = 20;
	var columns = 20;
	var tWidth = 25; // pixels, tile width
	var tHeight = 25; // pixels, tile height
	var width = tWidth * columns;
	var height = tHeight * rows;
	var images = new Array(rows * columns);
	var prev_i = 0;
	var prev_j = 0;

        function init(width, height, tileWidth, tileHeight, imgArray) {
                this.rows = width / tileWidth;
                this.columns = height / tileHeight;
                this.width = this.rows * tileWidth;
                this.height = this.columns * tileHeight;
                this.tWidth = tileWidth;
                this.tHeight = tileHeight;
                this.images = imgArray;
        }

	function getSource(i, j) {
		return 'http://lorempixel.com/25/25/' + '?' + (columns*i+j);
	}
 

	function draw(i, j, ctx) {
		images[columns*i+j] = new Image();
		images[columns*i+j].src = getSource(i, j);
		images[columns*i+j].onload = function() {
			ctx.drawImage(images[columns*i+j], i * tWidth, j * tHeight, tWidth, tHeight);
		}
	}

	function multidraw() {
                var canvas = document.getElementById("mycanvas");
		var ctx = canvas.getContext("2d");
		for (var i = 0; i < columns; i++) {
			for (var j = 0; j < rows; j++) {
				draw(i, j, ctx);
			}
		}
		canvas.width = width;
		canvas.height = height;
		canvas.onmousemove = function onmousemove(e) {
			var ctx = canvas.getContext("2d");
			ctx.fillStyle = "rgba(255, 255, 255, 0.5)";
			var mx = e.pageX - canvas.offsetLeft;
			var my = e.pageY - canvas.offsetTop;
			var i = Math.floor(mx/tWidth);
			var j = Math.floor(my/tHeight);
			if (prev_i != i || prev_j != j) {
				ctx.drawImage(images[columns*prev_i+prev_j], prev_i * tWidth, prev_j * tHeight, tWidth, tHeight);
				ctx.fillRect(tWidth*i, tHeight*j, tWidth, tHeight);
				prev_i = i;
				prev_j = j;
			}
		}
		canvas.onmouseout = function onmouseout(e) {
			var ctx = canvas.getContext("2d");
			var mx = e.pageX - canvas.offsetLeft;
			var my = e.pageY - canvas.offsetTop;
			var i = Math.floor(mx/tWidth);
			var j = Math.floor(my/tHeight);
			ctx.drawImage(images[columns*prev_i+prev_j], prev_i * tWidth, prev_j * tHeight, tWidth, tHeight);
		}
	}
	</script>
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Mozaic</a>
          <div class="nav-collapse collapse">
            <ul class="nav pull-right">
              <li><a href="#" class="tooltip-class" rel="tooltip" data-placement="bottom" data-original-title="about">i</a></li>
	    </ul>
	  </div>
	</div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <form style="margin:auto;width:600px" action="/submit" method="POST">
          <label>Search by <strong>#tag</strong> or <strong>image link</strong> below:</label>
	  <div class="input-append">
            <input type="text" class="input-xxlarge" id="searchbox" name="q" placeholder="example: #dogs or http://jjustin.tumblr.com/post/32535029858"><button class="btn" type="submit">Go!</button>
	  </div>
        </form>
      </div>
      <div class="row">
        <canvas id="mycanvas"></canvas>
        <script>multidraw()</script>
      </div>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../assets/js/jquery-1.8.2.min.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <!--<script src="../assets/js/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap-typeahead.js"></script>-->

	<script>
	  $(function() {
	    $(".tooltip-class").tooltip();
	    $("form").submit(function() {
	      $.post($(this).attr('action'), $(this).serialize(), function(json) {
	        alert(json);
              }, 'json');
	      return false;
	    });
	  });
	</script>

  </body>
</html>
